html,body{
	margin: 0 auto;
	height: 100%;
	width: 100%;
}
body {
	background-color: black;
}
.nvestimg
{
  width: 15rem;
  height: 6rem;
}
.bottombanner
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background: white;
  border-top: 2px solid black;
}
#growContainer{
	display: table;
	width:100%;
	height:100vh;
}
.grow{
	display: table-cell;
  height:100vh;

	width: 25%;
	-webkit-transition:width 500ms;
	-moz-transition:width 500ms;
	transition:width 500ms;
}
#growContainer:hover .grow{
	width:20%;
}
#growContainer:hover .grow:hover {
	width:40%;
}




.container1 {
  position: relative;
  width: 100%;
  height:100%;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #186AB4;
}

.container1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





.bgImageFirst{
	background-image: url("../img/tax.png");
	background-size: cover;
    background-repeat: no-repeat;
       background-position: center;

}

.bgImageSecond{
	background-image: url("../img/pre.png");
	background-size: cover;
    background-repeat: no-repeat;
       background-position: center;

}

.bgImageThird{
	background-image: url("../img/grav.png");
	background-size: cover;
    background-repeat: no-repeat;
       background-position: center;

}

.globalXchangeBlock{
    color: #fff;
    font-size: 1em;
}

.globalXchangeBlock:hover{
    color: #fff;
    font-size: 1em;
	text-decoration:none;
}

.websitBtn{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
}

.websitBtn a{
	color:#fff;
}

.websitBtn a:hover{
	text-decoration:none;
}




.container2 {
  position: relative;
  width: 100%;
  height:100%;
}

.image2 {
  display: block;
  width: 100%;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.container2:hover .overlay2 {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




.container3 {
  position: relative;
  width: 100%;
  height:100%;
}

.image3 {
  display: block;
  width: 100%;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #186AB4;
}

.container3:hover .overlay3 {
  opacity: 1;
}

.text3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




.globalXchangeBlock1{
    color: #186AB4;
    font-size: 1em;
}

.globalXchangeBlock1:hover{
    color: #186AB4;
    font-size: 1em;
	text-decoration:none;
}

.websitBtn1{
    background: transparent;
    border: 1px solid #186AB4;
    border-radius: 4px;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
}

.websitBtn1 a{
	color:#186AB4;
}

.websitBtn1 a:hover{
	text-decoration:none;
}



@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
	.grow {
		width: 100%;
		display: block;
	}
  /* .bgImageThird{
    background-image: url("../img/mob-grav.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bgImageFirst{
    background-image: url("../img/mob-tax.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .bgImageSecond{
    background-image: url("../img/mob-pre.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */
	#growContainer:hover .grow:hover {
		width: 100%;
	}
	
	#growContainer:hover .grow {
		width: 100%;
	}
	

	.websitBtn {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
	.cyptoBankSec{
	    width: 320px;
	}
	
	.grow {
    height: 33.3333333333vh;
  }


}


@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

  /* .bgImageFirst{
    background-image: url("../img/mob-tax.png");
    background-size: cover;
      background-repeat: no-repeat;
       
  
  }
  .bgImageThird{
    background-image: url("../img/mob-grav.png");
    background-size: cover;
      background-repeat: no-repeat;
       
  
  }
  .bgImageSecond{
    background-image: url("../img/mob-pre.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  } */
	.cyptoBankSec{
	    width: 200px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.grow {
		width: 100%;
		display: block;
	}

	#growContainer:hover .grow:hover {
		width: 100%;
	}
	
	#growContainer:hover .grow {
		width: 100%;
	}
	

	
	
	.grow {
    height: 33.3333333333vh;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	

  
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
	
	

}